.App {
  text-align: center;
  background-color: blanchedalmond;
  width: 100%;
  height:auto;
}
h1{
  font-family: fantasy;
  font-weight: 800;
}
img{
  margin-top:50px;
  margin-right:20px;
  height:250px;
  width:150px;
}
